body {
	color: #333;
	font-style: normal;
}

section, header {
	width: 80%;
	max-width: 800px;
	margin: auto;
}

header {
	max-width: 1000px;
	color: #333;
}

header, h1 {
	margin: 1em 0;
	font-size: 2.25em;
	font-weight: bold;
	line-height: 1.2;
}

h1, h2 {
	font-family: ;
	font-weight: 400;
}

h1 {font-size: 2em; margin-bottom: 0.3em;}
h2 {font-size: 2.75em; margin: 1em 0; color: #439ff6}

p {
	font-size: 1.25em;
	line-height: 1.5em;
	margin-bottom: 1em;
	font-weight: 200;
}

header h1 {
	margin: 1em 0;
	font-size: 5.25;
	font-weight: bold;
	line-height: 1.2;
}


a {
	color: #439ff6;
	text-decoration: none;
}

a:hover {
	color: #103254;
	border-bottom: 1px dotted;
}


nav {
	top: 0;
	left: 0;
	margin: 0;
	width: 90%;
	background: #fafafa;
	padding: 1em 0;
	font-size: 0.85em;
}

nav ul {
	padding-right: 15em;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 1px;
}

nav ul li {
	display: inline;
	margin: 20px;
	background: none;
}

nav a:hover {
	border-bottom: none;
	color: #103254;
	transition: all 0.3s ease-in-out;
}

.logo {
	font-size: 1.8em;
	font-weight: bold;
	text-align: left;
	text-transform: none;
	padding-right: 30vw;
}

img {
	display: block;
	margin: auto;
	max-width: 100%;
}

.portfolio {
	max-width: 600px;
	margin: auto;
	padding: 40px 0;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax (250px, 1fr));
}

.portfolio h1 {
	text-align: center;
}

portfolio-title {
	font-family: ;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px 0;
	font-size: 0.85em;
}










